*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: url(img/download.jpeg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-time{
    display: flex;
    text-align: center;
    flex-wrap: wrap;
}
.date-time{
    margin: 10px;
}
.big-time{
    font-size: 25px;
}